<mat-form-field *ngIf="dateJson && datalist">
  <input matInput disabled [matDatepickerFilter]="filFac(dateJson)" [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="onDateChange($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker disabled="false"></mat-datepicker>
</mat-form-field>
<div class="container">
  <ngx-charts-line-chart
  *ngIf="showBox && datalist"
  [scheme]="colorScheme"
  [results]="showBox"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
  (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>


