@import "../../../baseStyle/customMinx.scss";
@import "../../../baseStyle/_include-media.scss";
:host {
  height: 100%;
  @include flx(column,flex-start,center);

}
.container{
 width: 100%;
 height: 40%;
  ngx-charts-legend{
    position: relative;
    top: 100px;
  }
}

.detail{
  font-family: "微软雅黑";
  box-sizing: border-box;
  margin-top:20px;
  padding-top:20px;
  flex: 1;
  overflow-y: auto;
  align-self: stretch;
  margin-left: 30px;
  h3{

    text-align: center;
    font-weight: 600;
    margin-right:30px;
    margin-bottom:10px;
    border-bottom: 1px solid #C9C8C8;


  }
  .val{
    margin-bottom: 5px;
  }
 }
