@import "../../../baseStyle/customMinx.scss";
@import "../../../baseStyle/_include-media.scss";
ul{
    flex:1;
    @include flx;

    .dummy{
        flex:1;
    }
    .fn{
        display: block;
    }
    .fn-menu {
        display: none;
    }
    .list{

        margin: 0 15px;
    }
    @include media('<tablet') {
        .fn{
            display: none;
        }
        .fn-menu{
            display: block;
        }
    }
}
